#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffe2bf;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*body{
	overflow: hidden;
}*/

#sun{
	position: absolute;
	width: 15vw;
	height: 15vw;
	top: 13vh;
	left: 27vw;
	background: #fff7ee;
	border-radius: 50%;

}

#sun_ray{
	position: relative;
	width: 15vw;
	height: 15vw;
	/*left: 50%;
  	top: 50%;*/
  	/*transform: translate(-50%, -50%);*/
	background: #ffefd2;
	border-radius: 50%;
	z-index: -2;
}


/*
#border{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	border: solid white;
	border-width: 5vh 20vw 5vh 20vw;
	z-index: 3;
}*/


#quote{
	margin: 0;	
	font-family: 'PT Sans', sans-serif;
	font-size: 50px;
	z-index: 2;
	text-align: center;
}

#wrapper{
	margin: 0 auto;
	height: 100vh;
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

