#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #ffe2bf;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body{
	overflow: hidden;
	font-family: 'IBM Plex Mono', monospace;
}

#sun{
	position: absolute;
	width: 10vw;
	height: 10vw;
	top: 26vh;
	left: 30vw;
	background: #fff7ee;
	border-radius: 50%;

}

#sun_ray{
	position: relative;
	width: 10vw;
	height: 10vw;
	/*left: 50%;
  	top: 50%;*/
  	/*transform: translate(-50%, -50%);*/
	background: #ffefd2;
	border-radius: 50%;
	z-index: -2;
}




#quote{
	margin: 0;	
	font-family: 'PT Sans', sans-serif;
	font-size: 50px;
	z-index: 2;
	text-align: center;
	color: #00FF7F;
	/*text-shadow: 2px 3px black;*/
}

#wrapper{
	margin: 0 auto;
	height: 100vh;
	width: 50vw;
	display: flex;
	align-items: center;
	justify-content: center;
}


p::first-letter{
	color: lightpink;
}

#title{

	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}

#by{
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%, 0%);
	color: lightpink;
	font-size: 90%;
	display: none;
}

#date{
	position: absolute;
	bottom: 2.5%;
	left: 50%;
	transform: translate(-50%, 0%);
}

#left{
	position: absolute;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align: center;
	height: 100%;
}

#right{
	position: absolute;
	writing-mode: vertical-rl;
	text-align: center;
	height: 100%;
	left: 98%;
}